@media (min-width: 768px){
    .navbar .dropdown{
       float: left;
    }
    .navbar{
        border-radius: 4px;
    }
    .navbar .navbar-ex1-collapse{
        display: block;
        height: auto;
        width: auto;
        border-top: 0;

    }
    .navbar .navbar-ex1-collapse {
        float: left;
        margin: 0;
    }
    .navbar-nav>li {
        float: left;
    }   
}
.navbar .dropdown:hover .dropdown-menu{
    display: block;
}
.navbar .dropdown-menu{
    padding-bottom:0px ;
}
.navbar .dropdown>a{
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    padding: 10px 15px 10px 15px;
    min-height: 15px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
}
.navbar .dropdown-inner .list-unstyled{
    display: table-cell;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.navbar .dropdown-inner {
    display: table; 
}
.navbar .dropdown-inner .list-unstyled li>a{
    min-width: 160px;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #333333;
    font-size: 13px;
}
.navbar .dropdown-inner .list-unstyled li> a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #0256aa;
    background-image: linear-gradient(to bottom, #0256aa, #004f9d);
    background-repeat: repeat-x;
}
.navbar .dropdown-inner .list-unstyled li>a:focus {
    outline: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline: none;
    outline-offset: none;
}
.navbar .dropdown-inner .list-unstyled li>a:hover{
    color: #FFFFFF; 
    cursor: pointer;
}
.navbar .dropdown{
    position: relative;
    display: block;
}
.navbar  .see-all:hover, .navbar .see-all:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #0256aa;
    background-image: linear-gradient(to bottom, #0256aa, #0256aa);
    background-repeat: repeat-x;
}
.navbar .see-all{
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #DDD;
    padding: 3px 20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
    color: #0256aa;
}
.navbar {
    padding: 1px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #0256aa;
    background-image: linear-gradient(to bottom, #0256aa, #0256aa);
    background-repeat: repeat-x;
    border-color: #0256aa #0256aa #145e7a;
    min-height: 40px;
}
.btn {
    padding: 7.5px 12px;
    font-size: 12px;
    border:none;
    /* border-radius: 4px; */
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
}
.navbar .navbar-ex1-collapse{
    padding-right: 15px;
     padding-left: 15px;
}
    .dropdown-toggle::after {
        display: none;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
    .navbar  .dropdown>a:hover, .navbar .dropdown.show>a {
    background-color: rgba(0, 0, 0, 0.1);
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: #eee;
        border-color: #337ab7;
    }

.btn.focus, .btn:focus {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
}