/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/views/admin
/public/js/adm-classification.js
/public/js/adm-earning.js
/public/js/adm-letter.js
/public/js/adm-otdel.js
/public/js/adm-potok.js
/public/js/adm-potok-num.js
/public/js/adm-workers.js
/public/js/adm-transport.js
/public/js/worker_date.js
/public/js/main.js
/public/css/admin.css
/public/css/admin_front-css-screen.css
/public/css/screen.css
/public/img

